html{

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(156, 156, 156);

}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: green;
}

label >textarea{

display:flex;
flex-direction: column;

}
