html{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: grey;

}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}